.footer {
  display: flex;
  max-width: 104px;
  height: 14px;
  padding-left: 668px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  letter-spacing: 0%;
}
