.footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: 70%;
  letter-spacing: 0%;
}
