.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 8px;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  opacity: 0;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  gap: 32px;
  margin: auto;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  color: #212121;
  cursor: pointer;
  opacity: 0.8;
  background-color: transparent;
  border: none;
  background-image: url(../images/close-icon.svg);
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/close_icon.svg.svg);
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__label {
  margin: 0;
  margin-bottom: 32px;
  display: block;
  font-family: poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33 0.8);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  line-height: 1px;
  cursor: pointer;
  border-radius: 8px;
  border-width: 1px;
  padding: 16px 12px 16px 12px;
  border-color: rgba (33, 33, 33, 0.4);
  box-sizing: border-box;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6)
}

.modal__input:hover {
  border-color: rgba(33, 33, 33);
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__error {
  display: block;
  color: red;
  margin-top: 8px;
}

.modal__submit-btn {
  max-width: 156px;
  border: none;
  border-radius: 8px;
  padding: 18px 32px 18px 32px;
  cursor: pointer;
  font-family: poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fcf5e5;
  background-color: #212121;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
color: white;
font-size: 20px;
font-family: poppins, Arial, sans-serif;
font-weight: 500;
line-height: 120%;
width: 198px;
height: 24px;
}


@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px 8px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__form {
    margin-top: 34px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
  top: -48px;
  right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
